*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background: #182944;
    text-align: center;
}

canvas
{
    background: skyblue;
    -webkit-transition: -webkit-transform 2s;
}

canvas:hover
{
    background: #31f7bb;
}

#canvasDiv
{
    margin: 150px auto 40px;
}

#reloadButton
{
    text-decoration: none;
    color:white;
    font-family: 20px Tahoma;
}

#reloadButton:hover
{
    font-size: 22px;
}