*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background: #182944;
    text-align: center;
}

canvas
{
    background: skyblue;
    -webkit-transition: opacity 1s;
}

canvas:hover
{
    opacity: 0.5;
}

#canvasDiv
{
    margin: 150px auto 40px;
}

#reloadButton
{
    text-decoration: none;
    color:white;
    font-family: 20px Tahoma;
    -webkit-transition: font-size 0.2s;

}

#reloadButton:hover
{
    font-size: 22px;
}